<app-adminnavigationbar></app-adminnavigationbar>
<div class="container">
    <div>
    <button class ="btn btn-primary" (click) = "addNewBook()">Add New Book</button>
    <button (click) = "deleteBook('Book deleted successfully.')" class ="btn btn-primary">Delete</button>
    <button class ="btn btn-primary" (click)="viewIssuedBooks(bookCatalogue)">View Issued Books</button>
        </div>
        <div >
            <table class="table table-borderless table-hover">
                <tbody>
                  <tr>
                    <td *ngIf = "bookCatalogue">
                      <input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAll(bookCatalogue);"/>
                    </td>
                  </tr>
                  <tr *ngFor="let book of bookCatalogue">
                    <td>
                      <input type="checkbox" [(ngModel)]="book.selected" (change)="checkIfAllSelected(book)"/>
                    </td>
                    <td style="width: 85px; height: auto;">
                      <span *ngIf="book.thumbnailurl">
                        <a href="">
                        <img src="{{book.thumbnailurl}}" class="img-responsive" >
                        </a>
                        </span>
                    </td>
                    <td>
                      <tr>
                        <span style="font-size: 15px"><b>{{book.title}}</b></span>
                        <span style="font-size: 12px">  by  </span>
                        <em style="font-size: 12px; color: blue"><b>{{book.author}}</b></em>
                      </tr>
                      <tr>
                        <p class="serif">{{book.description}}</p>
                      </tr>
                    </td>
                  </tr>
                </tbody>
              </table>
      </div>
      </div>
      